In [2]:
import json
import ast
import pandas as pd
from dateutil.parser import parse

In [3]:
from IPython.display import display
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas

In [4]:
##Esta funcion evalua cada fila del archivo json y lo convierte a str
def convert_unicode_to_string(d):
    if isinstance(d, dict):
        return {convert_unicode_to_string(k): convert_unicode_to_string(v) for k, v in d.items()}
    elif isinstance(d, list):
        return [convert_unicode_to_string(item) for item in d]
    elif isinstance(d, str):
        return str(d)
    else:
        return d

In [5]:
##Se lee el archivo json y se convierte a dataframe para trabajar mejor los datos
with open("steam_games.json") as archivo:
    lines = archivo.readlines()  ##Devuelve una lista con los valores del json
    data_ = [ast.literal_eval(line) for line in lines]  ##Quita el prefijo 'u antes de cada valor

data = convert_unicode_to_string(data_)
df = pd.DataFrame(data)

In [7]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24083 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    30068 non-null  object
 6   tags            31972 non-null  object
 7   discount_price  225 non-null    float64
 8   reviews_url     32133 non-null  object
 9   specs           31465 non-null  object
 10  price           30758 non-null  object
 11  early_access    32135 non-null  bool
 12  id              32133 non-null  object
 13  developer       28836 non-null  object
 14  sentiment       24953 non-null  object
 15  metascore       2677 non-null   object
dtypes: bool(1), float64(1), object(14)
memory usage: 3.7+ MB

In [8]:
df.sample(5)

,publisher,genres,app_name,title,url,release_date,tags,discount_price,reviews_url,specs,price,early_access,id,developer,sentiment,metascore
27460,Tin Man Games,"[Adventure, Casual, Indie]",To Be or Not To Be,To Be or Not To Be,http://store.steampowered.com/app/324710/To_Be...,2015-02-04,"[Adventure, Casual, Indie, Choose Your Own Adv...",NaN,http://steamcommunity.com/app/324710/reviews/?...,"[Single-player, Steam Achievements, Full contr...",4.99,False,324710,Tin Man Games,Very Positive,NaN
16375,Cheat Code Studios,"[Adventure, Casual]",Squish and the Corrupted Crystal,Squish and the Corrupted Crystal,http://store.steampowered.com/app/662390/Squis...,2017-08-08,"[Adventure, Casual, Platformer]",NaN,http://steamcommunity.com/app/662390/reviews/?...,"[Single-player, Full controller support]",14.99,False,662390,Cheat Code Studios,NaN,NaN
14586,NaN,NaN,GAMERS!,GAMERS!,http://store.steampowered.com/app/734190/GAMERS/,2017-10-26,"[Episodic, Anime]",NaN,http://steamcommunity.com/app/734190/reviews/?...,NaN,1.99,False,734190,NaN,4 user reviews,NaN
12469,Aweswan studios,"[Casual, RPG, Simulation, Strategy]",Depopulation,Depopulation,http://store.steampowered.com/app/718210/Depop...,2017-11-24,"[Strategy, RPG, Casual, Simulation, Violent]",NaN,http://steamcommunity.com/app/718210/reviews/?...,[Single-player],4.99,False,718210,Aweswan studios,1 user reviews,NaN
7216,NaN,NaN,Block Wave VR,NaN,http://store.steampowered.com/app/524060/Block...,NaN,"[Strategy, Indie, Casual, VR, Puzzle]",NaN,http://steamcommunity.com/app/524060/reviews/?...,"[Single-player, HTC Vive, Tracked Motion Contr...",4.99,False,524060,NaN,9 user reviews,NaN

In [8]:
##Esta funcion convierte a formato fecha la columna release_date aisgnando null a los que no se pueden convertir
def parse_date(date_str):
    try:
        return parse(date_str)
    except:
        return pd.NaT

In [9]:
##Extrae el año de la fecha, y asigna null a los valores que no cumplen con el formato correcto
def get_year(date):
    try:
        year = date.year
        return int(year)
    except:
        return pd.NaT

In [10]:
##Convertir a formato de fecha utilizando la función parse_date
df['release_date'] = df['release_date'].apply(parse_date)

In [11]:
##Se crea la columna correspondiente al año de lanzamiento
df['release_year'] = df['release_date'].apply(get_year)

In [13]:
df.price.unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 2.99, 3.99, 9.99,
       18.99, 29.99, nan, 'Free', 10.99, 1.59, 14.99, 1.99, 59.99, 8.99,
       6.99, 7.99, 39.99, 19.99, 7.49, 12.99, 5.99, 2.49, 15.99, 1.25,
       24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 119.99, 109.99,
       149.99, 771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0, 5.49, 23.99, 49.0, 20.99,
       10.93, 1.39, 'Free HITMAN™ Holiday Pack', 36.99, 4.49, 2.0, 4.0,
       9.0, 234.99, 1.95, 1.5, 199.0, 189.0, 6.66, 27.99, 10.49, 129.99,
       179.0, 26.99, 399.99, 31.99, 399.0, 20.0, 40.0, 3.33, 199.99,
       22.99, 320.0, 38.85, 71.7, 59.95, 995.0, 27.49, 3.39, 6.0, 19.95,
       499.99, 16.06, 4.68, 131.4, 44.98, 202.76, 1.0, 2.3, 0.95, 172.24,
       249.99, 2.97, 10.96, 10.0, 30.0, 2.66, 6.48, 19.29, 11.15, 18.9,
       2.89, 'Play the Demo', 99.0, 87.94, 599.0, 8.98, 9.69, 0.49, 9.98,
       9.95, 7.0, 'Starting at $499.00', 'Starting at $449.00', 12.89,
       6.49, 1.87, 42.99, 41.99, 289.99, 'Free to Try', 23.96, 5.65, 12.0,
       13.37, 189.96, 124.99, 'Free Movie', 19.98, 160.91, 'Free to Use'],
      dtype=object)

In [12]:
##Se crea una mascara que identifica los valores que contienen la palabra 'Free' en la columna price
mask = df['price'].str.contains('free', case=False, na=False)

In [13]:
##Rellenamos esos valores 'Free' por 0
df.loc[mask, 'price'] = 0

In [14]:
##Se convierte la columna price a float
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [17]:
df.to_csv('Data\data.csv', index=False)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24083 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    29895 non-null  datetime64[ns]
 6   tags            31972 non-null  object
 7   discount_price  225 non-null    float64
 8   reviews_url     32133 non-null  object
 9   specs           31465 non-null  object
 10  price           30748 non-null  float64
 11  early_access    32135 non-null  bool
 12  id              32133 non-null  object
 13  developer       28836 non-null  object
 14  sentiment       24953 non-null  object
 15  metascore       2677 non-null   object
 16  release_year    29895 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 4.0+ MB

In [77]:
genres = df[['release_year','genres']]

In [78]:
genres.isnull().sum()

release_year    2240
genres          3283
dtype: int64

In [79]:
genres = genres.dropna()

In [82]:
genres.to_csv('Data\genres.csv', index=False)

In [84]:
names = df[['release_year', 'app_name']]

In [89]:
names.isnull().sum()

release_year    0
app_name        0
dtype: int64

In [88]:
names = names.dropna()

In [92]:
names.to_csv('Data\\names.csv', index=False)

In [94]:
specs = df[['release_year', 'specs']]

In [95]:
specs.isnull().sum()

release_year    2240
specs            670
dtype: int64

In [96]:
specs = specs.dropna()

In [98]:
specs.to_csv('Data\specs.csv', index=False)

In [25]:
early_access = df.loc[df['early_access'] == True, ['release_year', 'id', 'app_name']]

In [39]:
early_access.shape

(1434, 3)

In [37]:
early_access = early_access.dropna()

In [44]:
early_access.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1434 entries, 43 to 32123
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  1434 non-null   object
 1   id            1434 non-null   object
 2   app_name      1434 non-null   object
dtypes: object(3)
memory usage: 44.8+ KB

In [43]:
len(early_access['id'].unique())

1434

In [45]:
len(early_access['app_name'].unique())

1434

In [46]:
early_access.to_csv('Data\early_access.csv', index=False)

In [49]:
len(df.id.unique())

32133

In [61]:
sentiment = df[['release_year', 'sentiment']]

In [62]:
sentiment.isnull().sum()

release_year    2240
sentiment       7182
dtype: int64

In [63]:
sentiment = sentiment.dropna()

In [67]:
sentiment.to_csv('Data\sentiment.csv', index=False)

In [93]:
metascore = df[['release_year', 'metascore', 'app_name']]

In [98]:
metascore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2623 entries, 28 to 32117
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  2623 non-null   object
 1   metascore     2623 non-null   object
 2   app_name      2623 non-null   object
dtypes: object(3)
memory usage: 82.0+ KB

In [97]:
metascore.isnull().sum()

release_year    0
metascore       0
app_name        0
dtype: int64

In [96]:
metascore = metascore.dropna()

In [99]:
metascore.to_csv('Data\metascore.csv', index=False)

In [102]:
len(metascore[metascore['release_year'] == 2011])

159