In [1]:
import json
import ast
import pandas as pd
from dateutil.parser import parse

In [2]:
##Configuracion de vista de columnas y filas
from IPython.display import display
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
##Esta funcion evalua cada valor del archivo json y lo convierte a str
def convert_unicode_to_string(value):
    if isinstance(value, dict):
        return {convert_unicode_to_string(k): convert_unicode_to_string(v) for k, v in value.items()}
    elif isinstance(value, list):
        return [convert_unicode_to_string(item) for item in value]
    elif isinstance(value, str):
        return str(value)
    else:
        return value

In [4]:
##Se lee el archivo json y se convierte a dataframe para poder trabajar con la libreria pandas
with open("Dataset\steam_games.json") as archivo:
    lines = archivo.readlines()
    data_ = [ast.literal_eval(line) for line in lines]

data = convert_unicode_to_string(data_)
df = pd.DataFrame(data)

In [5]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24083 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    30068 non-null  object
 6   tags            31972 non-null  object
 7   discount_price  225 non-null    float64
 8   reviews_url     32133 non-null  object
 9   specs           31465 non-null  object
 10  price           30758 non-null  object
 11  early_access    32135 non-null  bool
 12  id              32133 non-null  object
 13  developer       28836 non-null  object
 14  sentiment       24953 non-null  object
 15  metascore       2677 non-null   object
dtypes: bool(1), float64(1), object(14)
memory usage: 3.7+ MB

In [49]:
df.head(5)

,publisher,genres,app_name,title,url,release_date,tags,discount_price,reviews_url,specs,price,early_access,id,developer,sentiment,metascore
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.49,http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro,NaN,NaN
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL,Mostly Positive,NaN
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",NaN,http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com,Mostly Positive,NaN
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",0.83,http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域,NaN,NaN
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",1.79,http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN,NaN,NaN

In [6]:
df[df.duplicated(subset='id', keep=False)]

,publisher,genres,app_name,title,url,release_date,tags,discount_price,reviews_url,specs,price,early_access,id,developer,sentiment,metascore
74,NaN,NaN,NaN,NaN,http://store.steampowered.com/,NaN,NaN,14.99,NaN,NaN,19.99,False,NaN,NaN,NaN,NaN
13894,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",NaN,http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,False,612880,Machine Games,Mostly Positive,86
14573,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",NaN,http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,False,612880,Machine Games,Mostly Positive,86
30961,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",NaN,NaN,"[Single-player, Steam Achievements, Steam Trad...",19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)",Overwhelmingly Positive,91

In [9]:
ind = [74, 13894]
df = df.drop(ind, axis=0)

In [11]:
##Esta funcion convierte a formato fecha la columna release_date aisgnando null a los que no se pueden convertir
def parse_date(date_str):
    try:
        return parse(date_str)
    except:
        return pd.NaT

In [12]:
##Extrae el año de la fecha, y asigna null a los valores que no cumplen con el formato correcto
def get_year(date):
    try:
        year = date.year
        return int(year)
    except:
        return pd.NaT

In [14]:
##Convertir a formato de fecha utilizando la función parse_date
df['release_date'] = df['release_date'].apply(parse_date)

In [15]:
##Se crea la columna correspondiente al año de lanzamiento
df['release_year'] = df['release_date'].apply(get_year)

In [15]:
df.price.unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 2.99, 3.99, 9.99,
       18.99, 29.99, nan, 'Free', 10.99, 1.59, 14.99, 1.99, 59.99, 8.99,
       6.99, 7.99, 39.99, 19.99, 7.49, 12.99, 5.99, 2.49, 15.99, 1.25,
       24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 119.99, 109.99,
       149.99, 771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0, 5.49, 23.99, 49.0, 20.99,
       10.93, 1.39, 'Free HITMAN™ Holiday Pack', 36.99, 4.49, 2.0, 4.0,
       9.0, 234.99, 1.95, 1.5, 199.0, 189.0, 6.66, 27.99, 10.49, 129.99,
       179.0, 26.99, 399.99, 31.99, 399.0, 20.0, 40.0, 3.33, 199.99,
       22.99, 320.0, 38.85, 71.7, 59.95, 995.0, 27.49, 3.39, 6.0, 19.95,
       499.99, 16.06, 4.68, 131.4, 44.98, 202.76, 1.0, 2.3, 0.95, 172.24,
       249.99, 2.97, 10.96, 10.0, 30.0, 2.66, 6.48, 19.29, 11.15, 18.9,
       2.89, 'Play the Demo', 99.0, 87.94, 599.0, 8.98, 9.69, 0.49, 9.98,
       9.95, 7.0, 'Starting at $499.00', 'Starting at $449.00', 12.89,
       6.49, 1.87, 42.99, 41.99, 289.99, 'Free to Try', 23.96, 5.65, 12.0,
       13.37, 189.96, 124.99, 'Free Movie', 19.98, 160.91, 'Free to Use'],
      dtype=object)

In [17]:
##Se crea una mascara que identifica los valores que contienen la palabra 'Free' en la columna price
mask = df['price'].str.contains('free', case=False, na=False)

In [18]:
##Rellenamos esos valores 'Free' por 0
df.loc[mask, 'price'] = 0

In [19]:
##Se convierte la columna price a float
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [20]:
df.to_csv('Dataset\data.csv', index=False)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24083 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    29895 non-null  datetime64[ns]
 6   tags            31972 non-null  object
 7   discount_price  225 non-null    float64
 8   reviews_url     32133 non-null  object
 9   specs           31465 non-null  object
 10  price           30748 non-null  float64
 11  early_access    32135 non-null  bool
 12  id              32133 non-null  object
 13  developer       28836 non-null  object
 14  sentiment       24953 non-null  object
 15  metascore       2677 non-null   object
 16  release_year    29895 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 4.0+ MB

In [52]:
genres = df[['release_year','genres']]

In [53]:
genres.isnull().sum()

release_year    2240
genres          3283
dtype: int64

In [54]:
genres = genres.dropna()

In [55]:
genres.to_csv('Dataset\genres.csv', index=False)

In [56]:
names = df[['release_year', 'app_name']]

In [57]:
names.isnull().sum()

release_year    2240
app_name           2
dtype: int64

In [58]:
names = names.dropna()

In [59]:
names.to_csv('Dataset/names.csv', index=False)

In [60]:
specs = df[['release_year', 'specs']]

In [61]:
specs.isnull().sum()

release_year    2240
specs            670
dtype: int64

In [62]:
specs = specs.dropna()

In [63]:
specs.to_csv('Dataset\specs.csv', index=False)

In [64]:
early_access = df.loc[df['early_access'] == True, ['release_year', 'id', 'app_name']]

In [65]:
early_access.shape

(1947, 3)

In [66]:
early_access = early_access.dropna()

In [67]:
early_access.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1434 entries, 43 to 32123
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  1434 non-null   object
 1   id            1434 non-null   object
 2   app_name      1434 non-null   object
dtypes: object(3)
memory usage: 44.8+ KB

In [68]:
early_access.to_csv('Dataset\early_access.csv', index=False)

In [69]:
sentiment = df[['release_year', 'sentiment']]

In [70]:
sentiment.isnull().sum()

release_year    2240
sentiment       7182
dtype: int64

In [71]:
sentiment = sentiment.dropna()

In [72]:
sentiment.to_csv('Dataset\sentiment.csv', index=False)

In [73]:
metascore = df[['release_year', 'metascore', 'app_name']]

In [74]:
metascore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  29895 non-null  object
 1   metascore     2677 non-null   object
 2   app_name      32133 non-null  object
dtypes: object(3)
memory usage: 753.3+ KB

In [75]:
metascore.isnull().sum()

release_year     2240
metascore       29458
app_name            2
dtype: int64

In [76]:
metascore = metascore.dropna()

In [77]:
metascore.to_csv('Dataset\metascore.csv', index=False)